<form [formGroup]="form">
  <div class="row justify-content-around">
    <mat-form-field class="col-md-auto">
      <mat-label>Mensaje</mat-label>
      <input matInput formControlName="Message" maxlength="8" minlength="8">
    </mat-form-field>

    <mat-form-field class="col-md-auto">
      <mat-label>Llave</mat-label>
      <input matInput formControlName="Key" maxlength="8" minlength="8">
    </mat-form-field>
  </div>

  <div class="row justify-content-around">
    <button mat-raised-button color="primary" (click)="encrypt()" class="col-md-auto">
      Encriptar
    </button>
    <button mat-raised-button color="primary" (click)="decrypt()" class="col-md-auto">
      Desencriptar
    </button>
  </div>
</form>
