p {
  background-color: #2b3037;
  color: white;
  margin: 2%;
  padding-left: 2%;
  border-radius: 5px;
  height: 880px;
  -ms-overflow-style: none;
  scrollbar-width: none;
  white-space: pre-line;
  overflow-y: scroll;
}
